# Игнорировать все .log файлы
*.log

# Игнорировать папку venv
.venv/

# Игнорировать .env файл с конфиденциальными данными
.env

# Игнорировать временные файлы редакторов
*.swp
.DS_Store

*/__pycache__/
__pycache__/
*.py[cod]


admin/
pgAdmin_scripts/

setup.cfg
